<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signups</title>
    </head>
    <body>

        <h1>Signups from other attendees</h1>

		<ul>
			<li th:each="signup : ${signups}">
				<span th:utext="${signup.name} +' ('+${signup.address}+')'">item</span>
			</li>
		</ul>

		<a href="/">Return</a>

        <h2>Messages from other attendees</h2>
		<ul>
			<li th:each="msg : ${messages}">
				<span th:text="${msg.name} + ': ' + ${msg.content}">item</span>
			</li>
		</ul>
        <form action="#" th:action="@{/message}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="message">Message</label>: <input type="text" name="content" id="content"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        <p></p>
    </body>
</html>
